{% extends 'base/base.html' %}
{% block extraheader %}
<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<ul class="page-header-breadcrumb">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li>Contact</li>
				</ul>
				<h1>Contact</h1>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-6">
				<div class="section-row">
					<h3>Contact Information</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<ul class="list-style">
						<li><p><strong>Email:</strong> <a href="mailto:sajib1066@gmail.com">sajib1066@gmail.com</a></p></li>
						<li><p><strong>Phone:</strong> <a href="tel://01925288772">+880 1925 288772</a></p></li>
						<li><p><strong>Address:</strong> Uttara, Dhaka</p></li>
					</ul>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="section-row">
					<h3>Send A Message</h3>
					<form method="post">
						{% csrf_token %}
						<div class="form-group">
                {% if messages %}
                  {% for message in messages %}
                  <span{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: green">{{ message }}</span>
                  {% endfor %}
                {% endif %}
              </div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									{{ forms.name }}
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									{{ forms.email }}
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									{{ forms.subject }}
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									{{ forms.message }}
								</div>
								<button class="primary-button">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->
{% endblock %}
